body{
  background-color: #F4F4EF;
}

/* First navigation bar - return home */

nav.return{
  position: relative;
}

ol.home_bar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li.tab_return {
  float: left; 
  padding: 10px 40px;
  margin-left: 25pt;
  font-size: 12pt;
  }

li.tab_return a{
  color: white;
  text-decoration: none;
}


/* Second navigation bar */

nav.options{
    position: relative;
    align-items: center;
    margin-top: 1.5pt;
  }

img.banner_logo{
    float: left;
    height: 50pt;
    width: 50pt;
    margin-left: 17pt;
    margin-top: 6.8pt;
    margin-bottom: 5pt;
  }
  
  ol.topbar{
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #000000; 
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
li.tabs {
    display:inline-block;
    padding: 10px 40px;
    margin-left: 130pt;
    margin-top: 15pt;
    font-size: 15pt;
    }

li.right_tabs {
        float: right;
        padding: 30px 10px;
        margin-right: 14pt;
        font-size: 12pt;
      }
    

li.tabs  a {
      margin-top: 5pt;
      color: white;
      text-align: center;
      padding: 16px;
      text-decoration: none;
    }

li.right_tabs  a {
      margin-top: 5pt;
      color: white;
      text-align: center;
      padding: 16px;
      text-decoration: none;
}
    
li a:hover {
      color: #DFDF68; 
    }


h1.featured{
  text-align: center;
  font-size: 38pt;
  font-family: 'Cambay';
  margin-top: 31pt;
}


/* Albums */
  
div.products{

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 300px));
  gap: 35pt;
  margin-left: 180pt;
  margin-top: 30pt;
}

img.albums{
  width: 150pt;
  height: 150pt;
  border-radius: 2.5pt;
  box-shadow: 0px 0px 0px 1px #ccc;
}

div.albums_ctl{
  background-color: white; 
  border-radius: 3pt;
  box-shadow: 2px 2px 5px 5px #ccc;
  padding: 15pt 0pt 35pt 15pt;
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2.album_name{
  font-size: 18.5pt;
}

div.albums_ctl:hover{
  background-color: #000000;
  color: #F4F4EF;
  border: 1px solid #000000;
  transition: 0.6s;
  padding-top: 25px;
  .cart{
    background-color: #DFDF68;
    color: #000000;
    bottom: 7.5pt;
    right: 7.5pt;
  }
}

.albums_ctl:hover{
  .desc{
    color: #F4F4EF;
  }
}

.cart{
  position: absolute;
  bottom: 5pt;
  right: 5pt;
  background: #000000;
  color: #F4F4EF;
  padding: 10px;
  cursor: pointer;
}
